{% load static %}

<html>
  <head>
    <title>Spotify - Music for everyone</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn3.emoji.gg/emojis/SpotifyLogo.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>

  <body>
    <div class="container-fluid" style="margin-top: 10px">
      <div class="row">
        <div class="col-md-3">
          <a href="{% url 'dashboard' %}">
            <img
              src="{% static 'img/spotify_logo.jpg' %}"
              id="logo"
              alt="Spotify Logo"
              width="60px"
            />
          </a>
        </div>

        <div class="col-auto">
          <div class="circle hover-target">
            <a href="{% url 'dashboard' %}">
              <i class="fas fa-home"></i>
            </a>
          </div>
          <!-- <div class="explanation-text" style="display: none;">Home</div> -->
        </div>

        <div class="col">
          <input
            type="text"
            placeholder="What do you want to play?"
            style="
              border-radius: 50px;
              padding: 10px;
              width: 500px;
              background-color: rgb(58, 57, 57);
              border: 1px solid #bbb;
              color: white;
            "
          />
        </div>

        <div class="col-auto">
          <a href="" class="text-white">
            <div class="circle">
              <a href="{% url 'download_app' %}"
                ><i class="fa-solid fa-download"></i
              ></a>
            </div>
          </a>
        </div>

        <div class="col-auto">
          <a href="{% url 'notification' %}">
            <div class="circle">
              <i class="fa-regular fa-bell"></i>
            </div>
          </a>
        </div>

        <div class="col-auto">
          <a href="{% url 'logout' %}">
            <div class="circle">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
          </a>
        </div>
        <!--Link to download: https://www.spotify.com/au/download/other/ -->
      </div>

      <div class="row border border-dark">
        <div
          class="col-md-3 border-end border-dark vh-100"
          style="color: white; background-color: #131212"
        >
          <div class="border border-dark p-3 mb-3 rounded">
            <b
              ><i class="fa-regular fa-user"></i> &nbsp; &nbsp; &nbsp; Welcome,
              {{ display_name }}</b
            >
          </div>

          <div class="border border-dark p-3 mb-3 rounded">
            <div class="mb-2">
              <a href="{% url 'your_library' %}">
                <b>
                  <i class="fa-solid fa-music text-white"></i> &nbsp; &nbsp; &nbsp;
                  <span class="text-white">Your Library</span></b>
              </a>
            </div>

            <div>
              <a href="{% url 'like_song' %}"">
                <b
                  ><i class="fa-regular fa-heart text-white"></i> &nbsp; &nbsp; &nbsp;
                  <span class="text-white">Liked Songs</span>
                  </b
                >
              </a>
            </div>
          </div>

          <div class="border border-dark p-3 rounded">
            <a href="{% url 'chatbot' %}" style="color: white">
              <b
                ><i class="fa-regular fa-circle-question"></i> &nbsp; &nbsp;
                &nbsp; Ask Me</b
              >
            </a>
          </div>
        </div>

        <div class="col-md-9" style="color: white; background-color: #131212">
          <br />
          <!-- Top Artists -->
          <div>
            <h4>Top Artists</h4>
            <div class="scroll-container d-flex overflow-auto p-2 border-white">
              {% for artist, image_url in top_artist_profiles.items %}
              <div class="p-3">
                <img
                  src="{{ image_url }}"
                  alt="{{ artist }}"
                  style="width: 150px; height: 150px; border-radius: 50%"
                />
                <div class="artist-info text-center">
                  <div class="artist-name">{{artist}}</div>
                </div>
              </div>
              {% endfor %}
            </div>

            <br /><br />

            <!-- Top Songs -->
            <div>
              <h4>Top Songs</h4>
              <div
                class="scroll-container d-flex overflow-auto p-2 border-white"
              >
                {% for song, image_url in top_song_profiles.items %}
                <div class="p-3">
                  <img
                    src="{{ image_url }}"
                    alt="{{ song }}"
                    style="width: 150px; height: 150px; border-radius: 50%"
                  />
                  <div class="artist-info text-center">
                    <div class="artist-name">{{song}}</div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
