{% extends "base.html" %} {% load static %} {% block styleSheet %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
{% endblock %} {% block content %}
<br />
<!-- Top Artists -->
<div>
  <h4>Top Artists</h4>
  <div class="scroll-container d-flex overflow-auto p-2 border-white">
    {% for artist, image_url in top_artist_profiles.items %}
    <div class="p-3">
      <img
        src="{{ image_url }}"
        alt="{{ artist }}"
        style="width: 150px; height: 150px; border-radius: 50%"
      />
      <div class="artist-info text-center">
        <div class="artist-name">{{artist}}</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br /><br />

  <!-- Top Songs -->
  <div>
    <h4>Top Songs</h4>
    <div class="scroll-container d-flex overflow-auto p-2 border-white">
      {% for song, image_url in top_song_profiles.items %}
      <div class="p-3">
        <img
          src="{{ image_url }}"
          alt="{{ song }}"
          style="width: 150px; height: 150px; border-radius: 50%"
        />
        <div class="artist-info text-center">
          <div class="artist-name">{{song}}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
