{% extends "base.html" %} {% load static %} {% block styleSheet %}
<link rel="stylesheet" href="{% static 'css/download_app.css' %}" />
{% endblock %} {% block content %}
<br />
<br />

<h1>Download Spotify</h1>

<ul>
  <li>
    Mac OS X (<a href="https://www.spotify.com/au/download/mac/" target="_blank"
      >Current</a
    >
    | <a href="" target="_blank">10.15</a> |
    <a href="" target="_blank">10.14</a> |
    <a href="" target="_blank">10.13</a> |
    <a href="" target="_blank">10.12</a> | <a href="" target="_blank">10.11</a>)
  </li>
  <li>
    Windows (<a
      href="https://www.spotify.com/au/download/windows/"
      target="_blank"
      >Current</a
    >
    | <a href="" target="_blank">10 (32-bit)</a> |
    <a href="" target="_blank">8.1</a> | <a href="" target="_blank">8</a> |
    <a href="" target="_blank">7</a>)
  </li>
  <li>
    <a
      href="https://apps.apple.com/us/app/spotify-music-and-podcasts/id324684580"
      target="_blank"
      >iOS</a
    >
  </li>
  <li>
    Android (
    <a
      href="https://play.google.com/store/apps/details?id=com.spotify.music&hl=en&pli=1"
      target="_blank"
      >Google Play</a
    >
    |
    <a href="https://www.amazon.com/Spotify-Music/dp/B00KLBR6IC" target="_blank"
      >Amazon</a
    >
    )
  </li>
</ul>

<br />
<br />
<h1>Spotify for other platforms</h1>
<ul>
  <li>
    <a href="https://www.spotify.com/au/download/linux/" target="_blank"
      >Linux</a
    >
  </li>
</ul>
{% endblock %}
